* {
  box-sizing: border-box;
}
textarea {
   resize: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

#nav1{
  float: left;
  width: 10%;
  height: 80%; 
  background: #3D9EFF;
  padding: 20px;
}
#nav2{
  float: right;
  width: 10%;
  height: 80%; 
  background: #3D9EFF;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
position: fixed;
    height: 7%;
    width: 100%;
    top: 93%;
}

#Rot13style{
    color: red;
}
#Text1{

}
#Text2{
float: right;
        }
#t1{
    width: 33%;        
        }
#t2{
    width: 33%;   
    text-align: center;
        }
#t3{
    width: 33%;   
        }
#t4{
    width: 33%;        
        }
#Table1{
         width: 80%;
        }
#div1{
    
        }
#div2{
    
        }
.Divtext{
    width: 90%;
    height: 400px;
    margin: 10px;
        }
#b1{
     width: 100px;
    height: 33px;
            
        }
#b2{
    width: 100px;
    height: 33px;
            
        }
#b3{
    width: 80px;
    height: 28px;
            
        }
#sel1{
    float: left;
}
#sel2{
    float:right;
}
#sel3{
    
}